@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
  .wrapper{
    @apply max-w-[1170px] w-[77%] m-auto
  }}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
